.articleCard {
    width: 300px;
    margin: 15px;
    margin-top: 80px;
    padding: 5px;
    border-radius: 10px;
    background: rgb(195, 234, 255);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
        transform: translateY(-30px);
        height: 400px;
        transition: all 0.3s;
    }

    & .title {
        margin-top: 0;
        text-align: center;
        font-weight: 500;
    }

    & .rate {
        font-size: 1.2em;
        color: $blue;
        padding-bottom: 7px;
        transition: all 0.3s;

    }

    & .price {
        position: absolute;
        right: 5px;
        font-size: 1.3em;
        margin: 0;
        padding: 10px;
        font-weight: 500;
        border-radius: 50px;
        background: white;
    }

    &:hover {
        background: rgb(255, 229, 195);
        img {
            transform: scale(1.07) translateY(-40px);
        }
        & .rate {
            color: rgb(220, 143, 43);
            transform: scale(1.2);
        }
    }
}


/* ON PAGE SPE OF AN ARTICLE */
.articlePage {
    h1 {
        color: rgb(65, 65, 65);
        font-size: 1.7em;
        text-align: center;
    }

    .body {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .blocImage {
        //background: $blue-bg;
        //background: rgb(235, 235, 235);
        padding: 10px;
        margin: 15px 20px;
        border-radius: 15px;
        img {
            height: 500px;
        }
    }

    .blocRate {
        margin: 0 5%;
        .stars {
            color: rgb(255, 179, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            i {
                font-size: 1.5em;
            }
            h2 {
                font-size: 1.9em;
                margin-top: 0;
            }
        }

    }

    .blocCara {
        p {
            font-size: 1.1em;
            font-weight: 300;
            margin-bottom: 5px;
            margin-left: 30px;
        }

        .rate {
            position: relative;
            height: 20px;
            width: 400px;
            border-radius: 30px;
            $clr1: #00a2ff;
            $clr2: rgb(92, 255, 236);
            background: linear-gradient(to right, $clr1, $clr2);
            overflow: hidden;
            border: 1px solid rgba(160, 160, 160, 0.605);
            margin-bottom: 40px;

            &-after {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgb(255, 255, 255);
                transition: transform 2s ;
            }
        }
        .styles {
            display: flex;
            justify-content: space-around;
            font-size: 1.2em;
            color: $blue;
            margin-bottom: 30px;
        }
    }

    .blocSell {
        background: rgb(230, 230, 230);
        padding: 10px;
        border-radius: 15px;
        
        & .price {
            font-size: 1.2em;
            margin-bottom: 30px;
           p {
            margin: 0;
           }
           span {
                margin-left: 30px;
                font-size: 2.5em;
           }
        }

        & .qteBloc {
            display: flex;
            align-items: center;
            p {
                padding: 10px 20px;
                background: white;
                font-size: 1.1em;
                animation: qte 0.7s both;
                @keyframes qte {
                    from {
                        transform: scaleX(0);
                    }
                }
            }
        }

        & .linkCart {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $blue;
            p {
                margin: 7px 0;
                font-weight: 500;
            }
            i {
                font-size: 1.3em;
            }
            &:hover {
                color: $orange;
            }
        }
    }

    .blocDesc {
        p {
            width: 80%;
            margin: auto;
            margin-top: 30px;
        }
    }
    .blocVideo {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        iframe {
            width: 50%;
            aspect-ratio: 16/9;
        }
    }
}


.othersSection {
    margin-top: 70px;
    border: 1px solid rgba(217, 217, 217, 0.677);
    h2 {
        width: 100%;
        font-size: 2em;
        margin-bottom: 0;
        transform: translateY(10px);
    }
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}