.Categories.top_section {
    position: relative;
    height: 130px;
    background: $blue-dark;
    background: url("./assets/header-bg.svg");

    h1 {
        color: white;
        position: absolute;
        bottom: 15px;
        right: 0px;
        font-size: 1.5em;
        letter-spacing: 0.2em;
        transform: translateX(70px);
        animation: topSectionTitle 0.4s both;
        @keyframes topSectionTitle {
            to {
                transform: translateX(-50px);
            }
        }
    }
}

.categoriesMain {
    display: flex;
}

.Categories.listeArticles {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* FILTRES */
.categoriesMain aside {
    width: 15%;
    position: relative;
    border-right: rgb(204, 204, 204) 1px solid;
   
}

.filtres {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 1.7em;
    }

    li {
        list-style: none;
        padding: 5px;
    }

    input, label {
        cursor: pointer;
    }

    form {
        p {
            margin-bottom: 7px;
        }
        label {
            padding: 0 5px;
        }
    }

   
}

.stickyAside {
    position: fixed;
    top: 0;
    width: 15%;
    animation: asideAnime 0.7s both;
    @keyframes asideAnime {
        from {
            transform: translateY(-20px);
        }
    }
}