.Header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 70;
    color: white;
    & .cross {
        display: none;
    }

    & .cart {
        position: absolute;
        display: flex;
        top: 10px;
        right: 50px;
        background: $blue;
        padding: 5px 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s;
        p {
            margin: 0 10px;
            font-size: 1.3em;
        }
        i {
            font-size: 1.7em;
        }
        &:hover {
            transform: scale(1.1);
        }
    }

    nav {
        padding: 10px 0;
        display: flex;
    }


    a {
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 1.2em;
        margin: 5px 20px;
        &::after {
            transition: all 0.3s;
            content: "";
            position: absolute;
            bottom: 0;
            transform:  translateY(170%) rotate(0turn) scale(0);
            opacity: 0;
            width: 45px;
            height: 45px;
            background: url("../assets/pic.png");
            background-size: contain;
            z-index: 3;
        }

        &:hover {
            &::after {
                opacity: 0.9;
                transform:  translateY(110%) rotate(0.5turn) scale(1);
            }
        }
    }
    @media screen and (max-width: 1500px) {
        font-size: 0.9em;
        nav {
            width: 50%;
        }
    }

    @media screen and (max-width: 1400px) {
        nav {
            width: 70%;
        }
    }
    @media screen and (max-width: 1200px) {
        font-size: 0.8em;
    }
    @media screen and (max-width: 1000px) {
        nav {
            width: 100%;
            justify-content: flex-start;
            a {
                margin: 0 15px;
            }
        }
    }
}

/* On tel  */
@media screen and (max-width: 650px) {
    .Header {
        bottom: 0;
        background: $blue-dark;
        width: auto;
        padding-top: 40px;
        padding-right: 30px;

        animation: HeaderArrive 0.7s both;
        @keyframes HeaderArrive {
            from {
                transform: translateX(-300px);
            }
        }

        & .cross {
            display: block;
            position: absolute;
            font-size: 3em;
            top: 0;
            right: 20px;
            cursor: pointer;

            animation: crossArrive 0.7s 0.7s both;
            @keyframes crossArrive {
                from {
                    transform:  translateX(-150px) rotate(0.5turn);
                    opacity: 0;
                }
            }
        }

        nav {
            flex-direction: column;
            align-items: flex-start;
            font-size: 0.9em;

            a {
                margin: 30px 55px;
                justify-content: flex-start;
                &::after {
                    transform: rotate(0.5turn) translateY(-15%) translateX(100%);
                    opacity: 0.9;
                }

                &:hover {
                    &::after {
                        transform: rotate(0.5turn) translateY(-15%) translateX(100%);
                    }
                }
            }
        }
    }
}

.headerTelIcon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    color: white;
    background: rgba(0, 0, 0, 0.302);
    font-size: 1.7em;
    padding: 10px;
    cursor: pointer;
}